
<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/home">
      Home
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>home</mat-icon>    
    </button>
    
    <button mat-raised-button color="primary" routerLink="/list_of_stations" style="float:right">
      Back
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>keyboard_backspace</mat-icon>    
    </button>
    &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/list_of_places">
      Select Another Place
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>location_on</mat-icon>    
    </button>
    &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/find">
      Find Another Place
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>search</mat-icon>    
    </button>
    <br>
    <h2>{{ title }}</h2>    
    <svg width="960" height="500"></svg>
    
  </mat-card>
</div>  
