

  <!-- <h2>{{ title }}</h2> -->

  <div class="containerbutton">
    <img
      src="https://static1.squarespace.com/static/51a103d2e4b0697b9ba9ad4b/t/5574f175e4b0061829d9a093/1433727355864/?format=2500w" style="width:100%"> 
    <button type="button" class="b1" mat-raised-button color="primary" routerLink="/find">
      Places
      &nbsp; &nbsp; &nbsp;
      <mat-icon>explore</mat-icon>
    </button>
    
    <button type="button" class="b2" mat-raised-button color="primary" routerLink="/aboutproject">
      About this App
      &nbsp; &nbsp; &nbsp;
      <mat-icon>info</mat-icon>
    </button>
    
  </div>
  
