<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/home">
      Home
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>home</mat-icon>    
    </button>
    &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/find">
      Find Another Place
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>search</mat-icon>    
    </button>
    
    <button mat-raised-button color="primary" routerLink="/list_of_places" style="float: right">
      Back
      &nbsp; &nbsp; &nbsp; 
      <mat-icon>keyboard_backspace</mat-icon>    
    </button>
    
  </mat-card>
  
  <h1>{{ title }}</h1>
  <svg class="bar-chart" width="960" height="500" ></svg>
  
  
</div>


